
name: Push Docker Image to Docker Hub

on:
    create:
    tags:
      - '*'
  
jobs:
    release:
        runs-on: ubuntu-latest
  
        steps:
        - uses: actions/checkout@v3
  
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PW }}
  
        - name: Build and Push Docker images
          run: |
            cd /home/runner/work/vdt-back/vdt-back/back && docker buildx build --platform linux/arm64 -t ${{ secrets.DOCKER_USERNAME }}/midterm:backend_image . && docker push ${{ secrets.DOCKER_USERNAME }}/midterm:backend_image
